<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4 py-2 bg-gray">Login</h3>
                    <div class="form-group">
<!--                        <label for="username" class="bold">Username</label>-->
                        <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username">
                    </div>
                    <button type="button" class="action-modal btn btn-primary btn-block">Login</button>
                    <a href="{{wwwroot}}" class="btn btn-danger btn-block mt-2">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--    document.addEventListener("DOMContentLoaded", function() {-->
<!--        const startWebcamButton = document.querySelector(".start-webcam");-->
<!--        const stopWebcamButton = document.querySelector(".stop-webcam");-->
<!--        const webcamContainer = document.querySelector(".webcam-container");-->
<!--        const webcam = document.querySelector("#webcam");-->

<!--        startWebcamButton.addEventListener("click", function() {-->
<!--            // Start webcam streaming-->
<!--            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {-->
<!--                navigator.mediaDevices.getUserMedia({ video: true })-->
<!--                        .then(function(stream) {-->
<!--                            webcamStream = stream;-->
<!--                            webcamContainer.style.display = "block"; // Show webcam container-->
<!--                            webcam.srcObject = webcamStream;-->
<!--                        })-->
<!--                        .catch(function(error) {-->
<!--                            console.error("Error accessing webcam:", error);-->
<!--                        });-->
<!--            }-->
<!--        });-->
<!--        stopWebcamButton.addEventListener("click", function() {-->
<!--            if (webcamStream) {-->
<!--                webcamStream.getTracks().forEach(track => track.stop());-->
<!--                webcam.srcObject = null;-->
<!--                webcamContainer.style.display = "none";-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->
